body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  color: #333;
  font-size: 14px;
  font-family: "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
a {
  color: #191933;
}
pre {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: black;
}
#console {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  width: 580px;
  height: 100%;
  position: fixed;
  top: 0;
}
#console .inner {
  height: 100%;
  background: #fff;
}
#console pre {
  margin: 0;
  padding: 0;
}
#output {
  position: absolute;
  bottom: 0;
  margin-bottom:122px;
  width: 580px;
  overflow: auto;
}
#console .buttons {
  display: none;
  position: absolute;
  bottom: 124px;
  right: 0px;
  margin: 0px 23px;
}
#console .buttons button {
  float: right;
  padding: 2px 6px;
  margin: 4px 2px;
}
#input-wrap {
  position: absolute;
  bottom: 0px;
  width: 580px;
  height: 120px;
  margin-bottom: 2px;
}
.CodeMirror-scroll {
  height: 120px;
  background: #fff;
  border: 2px solid #0076ad;
}
#console .input {
  padding: 14px 0 8px 8px;
}
#console .output {
  min-width: 570px;
  background: #eef4ff;
  padding: 0 0 0 8px;
}
.error {
  color: #f33;
  font-weight: bold;
  width: 540px;
}
#main {
  margin-left: 580px;
  position: relative;
  z-index: 5;
  box-shadow: 0 0px 12px #666;
  padding: 4px 20px;
}
h1 {
  font-size: 20px;
  margin: 12px 0;
}
h2 {
  font-size: 14px;
  margin: 12px 0;
}
.highlight {
  padding: 12px;
  background: #fff;
  border: 2px solid #d0d0d0;
}
