body {
  margin: 0;
  padding: 0;
  background: #bbb;
  color: #eee;
  font-size: 16px;
}
#console {
  width: 600px;
  height: 100%;
  position: fixed;
}
#console .inner {
  margin: 0 20px;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
#output {
  font-family: monospace;
  position: absolute;
  bottom: 0;
  padding-bottom:145px;
  padding-left: 6px;
  width: 540px;
}
#console .buttons {
  position: absolute;
  bottom: 140px;
  right: 0px;
  margin: 0px 23px;
}
#console .buttons button {
  float: right;
  background: #272822;
  color: #f8f8f2;
  border: none;
  padding: 2px 6px;
  margin: 4px 2px;
}
#input-wrap {
  position: absolute;
  bottom: 0px;
  width: 560px;
  height: 140px;
}
.input {
  padding-top: 12px;
}
.CodeMirror-scroll {
  height: 140px;
}
.output {
  color: #4d5;
  font-weight: bold;
  width: 550px;
  word-wrap: break-word;
}
.error {
  color: #f33;
  font-weight: bold;
  width: 540px;
}
