/* meyer reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* styles */

body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  color: #333;
  font-size: 14px;
  font-family: "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
p {
  line-height: 1.3em;
  margin: 14px 0;
}
a {
  color: #191933;
}
ul {
  list-style-type: square;
  margin-left: 16px;
  color: #d0d0d0;
}
li {
  line-height: 1.8em;
}
pre {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: black;
  font-size: 12px;
  line-height: 1.3em;
}
#console {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  width: 580px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
#console .inner {
  height: 100%;
  background: #fff;
}
#console pre {
  margin: 0;
  padding: 0;
}
#output {
  position: absolute;
  bottom: 0;
  margin-bottom:122px;
  width: 580px;
  overflow: auto;
}
#console .buttons {
  display: none;
  position: absolute;
  bottom: 124px;
  right: 0px;
  margin: 0px 23px;
}
#console .buttons button {
  float: right;
  padding: 2px 6px;
  margin: 4px 2px;
}
#coffee-error {
  display: none;
  position: absolute;
  bottom: 123px;
  font-size: 10px;
  background: #f6f6f6;
  color: #999;
  margin: 0 20px;
  padding: 3px 8px 1px;
  width: 522px;
  text-transform: uppercase;
  border-radius: 4px;
}
#coffee-error.tried {
  font-weight: bold;
  background: #e22;
  color: #fff;
}
#coffee-error .bang {
  float: right;
  color: #e11;
  font-weight: bold;
  font-size: 14px;
  line-height: 12px;
}
#coffee-error.tried .bang {
  color: #fff;
}
#coffee-error:hover {
  color: #000;
}
#input-wrap {
  position: absolute;
  bottom: 0px;
  width: 580px;
  height: 120px;
  margin-bottom: 2px;
}
.CodeMirror-scroll {
  height: 100px;
  background: #fff;
  margin: 0 20px 8px 20px;
  padding: 4px 8px;
  border: 1px solid #0076ad;
  box-shadow: 0 0 3px #bbb;
  font-size: 12px;
  resize: both;
  border-radius: 4px;
}
.CodeMirror-lines {
  padding: .4em 0;
}
#console .input {
  margin: 8px 20px;
  padding: 8px;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0 3px #ddd;
  border-radius: 4px;
}
#console .output {
  min-width: 532px;
  padding: 8px;
  margin: 9px 17px;
}
#console .error {
  color: #e11;
  font-weight: bold;
  margin: 8px 20px;
  padding: 8px;
  border-radius: 4px;
}
#main {
  margin-left: 580px;
  position: relative;
  min-width: 400px;
  z-index: 5;
  padding: 4px 20px;
  border-left: 1px solid #d0d0d0;
  box-shadow: inset 0 0 8px #ccc;
}
h1 {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #d0d0d0;
  margin: 24px 0 12px;
}
h2 {
  font-weight: bold;
  font-size: 16px;
  margin: 24px 0 12px;
}
.highlight {
  padding: 12px;
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
}
.shortcuts {
  background: #fff;
  border: 1px solid #d0d0d0;
  cellpadding: 0;
  cellspacing: 0;
}
.shortcuts td {
  border: 1px solid #d0d0d0;
  padding: 8px 14px;
}
.shortcuts td:first-child {
  font-style: italic;
  text-align: right;
}
.half {
  float: left;
  padding-right: 20px;
}
.half h2 {
  margin-top: 10px;
}
.clear {
  clear: both;
}
